@font-face {
  font-family: Gilroy-Bold;
  src: url(./fonts/gilroy-bold.ttf);
}
@font-face {
  font-family: Gilroy-Medium;
  src: url(./fonts/gilroy-medium.ttf);
}
@font-face {
  font-family: Gilroy-Regular;
  src: url(./fonts/gilroy-regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.page {
  width: 1920px;
  background-color: #ffffff;
}
.logotype_site {
  display: flex;
  margin-top: 40px;
}
.logo_name {
  display: flex;
  margin-left: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.Grow {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Be {
  color: #f25822;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navigation {
  display: flex;
  gap: 30px;
  margin-left: 500px;
  margin-top: 51px;
}
.nav__link {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.nav__link--other {
  color: #f25822;
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.select-form-control {
  border: 0px;
  outline: 0px;
}
.main_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 375px;
}
.text__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.head h1 {
  width: 522px;
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 89px;
  margin-bottom: 17px;
}
.info {
  width: 444px;
  color: #888;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 37px;
}
.start_now {
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 35px 16px 36px;
}
.watch_video {
  color: #aaa;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  border: none;
  background: none;
  margin-left: 108px;
}
.logotypes {
  display: flex;
  gap: 48px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 97px;
  margin-top: 162px;
}
.main_img {
  margin-top: 89px;
  margin-left: 41px;
}
.main_info_page2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 375px;
  margin-top: 125px;
}
.text_info_page2 {
  z-index: 0;
}
.heading_page2 h1 {
  width: 409px;
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.info_page2 {
  margin-top: 20px;
  width: 515px;
  color: #666;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.buttons_page2 {
  z-index: 1;
}
.Learn_more {
  margin-top: 35px;
  padding: 16px 31px;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_picture_page2 {
  margin-top: -150px;
  margin-left: -33px;
  z-index: 1;
}
.vectors {
  margin-top: -594px;
  margin-left: -618px;
}
.vector1 {
  position: absolute;
  width: 2895.111px;
  height: 467.398px;
  transform: rotate(2.095deg);
  flex-shrink: 0;
  z-index: 0;
}
.vector2 {
  position: absolute;
  width: 2895.111px;
  height: 467.398px;
  transform: rotate(2.095deg);
  flex-shrink: 0;
  z-index: 0;
}
